<ul ng-controller="NavBarController as nav" class="nav nav-tabs">
    <!--Left Align-->
    <li role="presentation" id="home"><a ui-sref="home">Home</a></li>
    <li role="presentation" id="about"><a ui-sref="about">About</a></li>
    <li role="presentation" id="contact"><a ui-sref="contact">Contact</a></li>

    <!--Right Align-->
    <li ng-hide="nav.isAuthenticated()" role="presentation" id="login" class="pull-right"><a ui-sref="login">Login</a></li>
    <li ng-show="nav.isAuthenticated()" role="presentation" id="logout" ng-click="nav.logout()" class="pull-right"><a href="#">Logout</a></li>
    <li ng-hide="nav.isAuthenticated()" role="presentation" id="register" class="pull-right"><a ui-sref="register">Register</a></li>
</ul>
