<div class="container">

    <div style="padding-top: 5%;" class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">Post A Message</div>
            <div class="panel-body">
              <div ng-hide="vm.isAuthenticated()" class="alert alert-info">
                <strong>Please login to post messages!</strong>
              </div>
              <div ng-if="vm.isAuthenticated()" class="input-group">
                <textarea class="form-control custom-control" rows=3 style="resize:none" ng-model="vm.message"></textarea>
                <span class="input-group-addon btn btn-primary" ng-click="vm.postMessage()"> Post </span>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">Messages</div>
            <div class="panel-body">
              <ul style="max-height: 300px; overflow-y: auto;" class="list-group">
                <li class="list-group-item" ng-repeat="message in vm.messages">{{message.msg}} - {{message.user.email}}</li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    {{vm.messages}}
</div>
